{% extends 'base.html.twig' %}

{% block title %}Welcome on Flashkick !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    WELCOME ON FLASHKICK !
    <ul>
        {% for name, stats in global_stats %}
            <li>
                {{ name }}
                <ul>
                    {% for n, stat in stats %}
                        <li>{{ n }}: {{ stat }}{% if n == 'ratio' %}%{% endif %}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>
               sf5_stats
                <ul>
                    {% for n, stat in sf5_stats %}
                        <li>{{ n }}: {{ stat }}{% if n == 'ratio' %}%{% endif %}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
