{% extends 'base-bootstrap.html.twig' %}

{% block title %}Lobbies{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
        {% for lobby in lobbies %}
            <li>
                <p>{{ lobby }}</p>
                <ul>
                    {% for player in lobby.players %}
                        <li>{{ player }}</li>
                    {% endfor %}
                </ul>
                <p>
                    {{ lobby.sets.count() }} set(s),
                    {{ lobby.countMatches() }} match(s),
                    Created by {{ lobby.creator }}
                </p>
                <div style="margin-top: 1rem;">
                    <a href="{{ path('flashkick_lobby_join', {'lobby': lobby.id}) }}">Join</a>
                    {% if lobby.players.contains(app.user.player) %}
                        <a class="btn btn-primary btn-sm" href="{{ path('flashkick_lobby_leave', {'lobby': lobby.id}) }}">Leave</a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
