{% extends 'base-bootstrap.html.twig' %}

{% block title %}Hello LobbyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% macro display_player_resolution(match, player, index) %}
    {% set validation = attribute(match.resolution, 'validationP' ~ index) %}

    {% if validation is constant('Flashkick\\Entity\\MatchResolution::WIN') %}
        {{ player }} says won
    {% elseif validation is constant('Flashkick\\Entity\\MatchResolution::LOOSE') %}
        {{ player }} says loose
    {% elseif validation is constant('Flashkick\\Entity\\MatchResolution::DRAW') %}
        {{ player }} says draw
    {% else %}
        waiting for {{ player }}'s validation
    {% endif %}
{% endmacro  %}

{% set previousUserCharacter = null %}
{% set userCharacter = null %}

<div class="example-wrapper">
    <div style="float: left; margin-right:3rem;">
        <h3>Players</h3>
        <ul>
            {% for player in lobby.players %}
                <li>
                    {% if lobby.creator == player %}*{% endif %}
                    {{ player }}
                    {% if app.user.player == player %}
                        <a class="btn btn-primary btn-sm" href="{{ path('flashkick_lobby_leave', {'lobby': lobby.id}) }}">Leave</a>
                    {% endif %}
                    {% if app.user.player == lobby.creator and player != lobby.creator %}
                        <a class="btn btn-danger btn-sm" href="{{ path('flashkick_lobby_kick', {'lobby': lobby.id, 'player': player.id}) }}">Kick</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div style="float: left;">
        <h3>Sets history</h3>
        {% for set in lobby.sets %}
            <p>Set {{ loop.index }} <span class="badge badge-info">BO{{ set.bestOf }}</span></p>
            {% for match in set.matches %}
                {% set player1Character = match.player1Character %}
                {% set player2Character = match.player2Character %}
                {% if app.user.player == match.player1 %}
                    {% set userCharacter = player1Character %}
                {% elseif app.user.player == match.player2 %}
                    {% set userCharacter = player2Character %}
                {% endif %}
                {% if loop.index == 0 %}
                    {% set previousUserCharacter = userCharacter %}
                {% endif %}
                <ul>
                    <li>
                        <div>
                            {{ match.player1 }}
                            {% if player1Character is not null %}
                                <img src="{{ player1Character.icon }}" alt="{{ player1Character }}"/>
                            {% endif %}
                            VS
                            {{ match.player2 }}
                            {% if player2Character is not null %}
                                <img src="{{ player2Character.icon }}" alt="{{ player2Character }}"/>
                            {% endif %}
                        </div>
                        {% if match.winner is not null %}
                            Winner {{ match.winner }}
                        {% elseif not match.ended %}
                            {% if app.user.player == match.player1 or app.user.player == match.player2 %}
                                {% include 'match/resolver.html.twig' with {'match': match} %}
                                {% include 'character/selector.html.twig' with {'previousUserCharacter': previousUserCharacter, 'userCharacter': userCharacter} %}
                            {% endif %}
                            <ul>
                                <li>{{ _self.display_player_resolution(match, match.player1, 1) }}</li>
                                <li>{{ _self.display_player_resolution(match, match.player2, 2) }}</li>
                            </ul>
                        {% else %}
                            Draw game
                        {% endif %}
                    </li>
                </ul>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".dropdown-menu").on('click', 'a', function(e) {
                e.preventDefault();

                $(".btn:first-child").text($(this).text());
                $(".btn:first-child").val($(this).data('character-id'));

                selectCharacter(e.target);
            });
        });

        function selectCharacter(a) {
            console.log('selectCharacter');
            let characterSelector = $('#character-selector');
            let url = a.href;
            if (characterSelector.val() !== '') {
                url = url + '/' + characterSelector.val();
            }

            $.ajax({
                url: url
            }).done(function() {
                document.location.reload();
            });
        }
    </script>
{% endblock %}
