{% extends 'base.html.twig' %}

{% block title %}Hello LobbyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% macro display_player_resolution(match, player, index) %}
    {% set validation = attribute(match.resolution, 'validationP' ~ index) %}

    {% if validation is constant('Flashkick\\Entity\\MatchResolution::WIN') %}
        {{ player }} says won
    {% elseif validation is constant('Flashkick\\Entity\\MatchResolution::LOOSE') %}
        {{ player }} says loose
    {% elseif validation is constant('Flashkick\\Entity\\MatchResolution::DRAW') %}
        {{ player }} says draw
    {% else %}
        waiting for {{ player }}'s validation
    {% endif %}
{% endmacro  %}

{% set previousUserCharacter = null %}
{% set userCharacter = null %}

<div class="example-wrapper">
    <div style="float: left; margin-right:3rem;">
        <h3>Players</h3>
        <ul>
            {% for player in lobby.players %}
                <li>
                    {% if lobby.creator == player %}*{% endif %}
                    {{ player }}
                    {% if app.user.player == player %}
                        <a href="{{ path('flashkick_lobby_leave', {'lobby': lobby.id}) }}">Leave</a>
                    {% endif %}
                    {% if app.user.player == lobby.creator and player != lobby.creator %}
                        <a href="{{ path('flashkick_lobby_kick', {'lobby': lobby.id, 'player': player.id}) }}">Kick</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div style="float: left;">
        <h3>Sets history</h3>
        {% for set in lobby.sets %}
            <p>Set {{ loop.index }}</p>
            {% for match in set.matches %}
                {% set player1Character = match.player1Character %}
                {% set player2Character = match.player2Character %}
                {% if app.user.player == match.player1 %}
                    {% set userCharacter = player1Character %}
                {% elseif app.user.player == match.player2 %}
                    {% set userCharacter = player2Character %}
                {% endif %}
                {% if loop.index == 0 %}
                    {% set previousUserCharacter = userCharacter %}
                {% endif %}
                <ul>
                    <li>
                        <div>
                            {{ match.player1 }}
                            {% if player1Character is not null %}
                                ({{ player1Character }})
                            {% endif %}
                            VS
                            {{ match.player2 }}
                            {% if player2Character is not null %}
                                ({{ player2Character }})
                            {% endif %}
                        </div>
                        {% if match.winner is not null %}
                            Winner {{ match.winner }}
                        {% elseif not match.ended %}
                            <div>
                                <label>
                                    <select id="character-selector">
                                        <option value="">Select your character</option>
                                        {% for character in characters %}
                                            <option
                                                value="{{ character.id }}"
                                                {% if userCharacter is not null and userCharacter == character or previousUserCharacter is not null and previousUserCharacter == character %}selected="selected"{% endif %}
                                            >
                                                {{ character }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <button
                                        id="character-select"
                                        data-url="{{ path('match_select_character', {'match': match.id, 'player': app.user.player.id, 'character': null}) }}"
                                    >OK</button>
                                </label>
                            </div>
                            <div>
                                {% if app.user.player == match.player1 or app.user.player == match.player2 %}
                                    {% if (app.user.player == match.player1 and match.resolution.validationP1 is null) or (app.user.player == match.player2 and match.resolution.validationP2 is null) %}
                                        <a href="{{ path('match_resolve', {'match': match.id, 'player': app.user.player.id, 'resolution': constant('Flashkick\\Entity\\MatchResolution::WIN')}) }}">
                                            WON
                                        </a>
                                        <a href="{{ path('match_resolve', {'match': match.id, 'player': app.user.player.id, 'resolution': constant('Flashkick\\Entity\\MatchResolution::LOOSE')}) }}">
                                            LOOSE
                                        </a>
                                        <a href="{{ path('match_resolve', {'match': match.id, 'player': app.user.player.id, 'resolution': constant('Flashkick\\Entity\\MatchResolution::DRAW')}) }}">
                                            DRAW
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <ul>
                                <li>{{ _self.display_player_resolution(match, match.player1, 1) }}</li>
                                <li>{{ _self.display_player_resolution(match, match.player2, 2) }}</li>
                            </ul>
                        {% else %}
                            Draw game
                        {% endif %}
                    </li>
                </ul>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let selectCharacterBtn = $('#character-select');
        selectCharacterBtn.on('click', function (e) {
            e.preventDefault();

            let characterSelector = $('#character-selector');
            let url = selectCharacterBtn.data('url')
            if (characterSelector.val() !== '') {
                url = url + '/' + characterSelector.val();
            }

            $.ajax({
                url: url
            }).done(function() {
                document.location.reload();
            });
        });
    </script>
{% endblock %}
